h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px; /* tamanho do texto pode ser medio, grande ou pequeno, da pra medir em pixels tbm, nao recomendo colocar 10pxs, e sim acima de 30pxs.*/
    color: orange;
    font-weight: bold; /*aki coloca em negrito*/
    text-align: center; /*aki centraliza o texto*/
    text-decoration: line-through rgba(188, 98, 45, 0) ; /* double multiplica a linha, e da pra escolher a cor, aki sublinha o texto, line-through: isca a palavra*/
    text-transform: uppercase; /* aki deixa o texto em maiusculo*/
    letter-spacing: 5px; /* aki deixa um espaçamento entre as letras*/
    word-spacing: 5px; /* aki deixa um espaçamento entre as palavras*/
    line-height: 50px/* aki deixa um espaçamento entre as linhas*/

}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal; 
    word-spacing: 20px;
    line-height: 2; /*aki deixa duas linhas espaço entre elas. */
    text-indent: 40px; /* aki deixa um espaçamento no começo do paragrafo*/



}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: 300;
    font-style: italic;
}

.shadows-into-light-regular00 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.865),4px 2px 2px rgba(236, 9, 9, 0), 2px 2px 2px rgba(181, 26, 26, 0.865) ;
  
}




.shadows-into-light-regular02 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;

}
.shadows-into-light-regular03{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: italic;


}

.shadows-into-light-regular04{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: italic;


}
.shadows-into-light-regular05{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: italic;


}

.shadows-into-light-regular06 {
    color: orange;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  list-style-type: none;
}


.shadows-into-light-regular07 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
.shadows-into-light-regular08 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  color: orange;
}
a{
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  color: orange;
}

#capitulo01{      /*aki acessa o id capitulo01*/
    color: orange;
    font-size: 20px;
    font-weight: 100;
    text-align: justify;
    text-indent: 20px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
}

#capitulo02{ /*aki acessa o id capitulo02*/

    color: orange;
    font-size: 20px;
    font-weight: 100;
    text-align: justify;
    text-indent: 20px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
}
.testandolist{
    list-style-type: "😅";
    list-style-position: inside;

} 


.tag{
  color: aqua;
  cursor: wait; /* aki deixa o cursor carregando*/
  text-decoration: none; /* aki tira o sublinhado do link*/
}

.tag:visited{
  color: red;                  /*quando o usuario visita o link a cor do elemento e mudadao para vermelho*/
}
.tag:hover{
  color: magenta;    /*quando o cara passar o mause por cima muda de cor o *elemento*/
  text-decoration: underline; /* aki deixa o sublinhado do link*/
}

.font{
  font: 80px 10px/4 "Shadows Into Light", cursive; /* aki abrevia as fontes, primeiro o tamanho da fonte, depois o peso, depois o estilo, e por ultimo a fonte*/
}



/*
*{           aki ele pega todos elementos da pagina
  width: 0%;
  padding: 0%;
  color: aqua;
  background-color: aquamarine;
} */      

input[type="text"]{  /* aki ele pega todos os input que tem o tipo text*/
  background-color: yellow;
}
input[type="password"]{  /* aki ele pega todos os input que tem o tipo password*/
  background-color: pink;
}